<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="pubsConnectionString" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=pubs;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
    <add name="northwindConnectionString" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=northwind;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>